<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @rating.value %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @rating.restaurant.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user.email %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
